h3 {
  font-family: "Emilys Candy", cursive;
  font-size: 30px;
}

button {
  border-color: #c0aa68;
  color: black;
  width: 380px;
  height: 30px;
  font-size: 20px;
}

.topnav {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
