h1 {
  font-family: "Emilys Candy", cursive;
  color: #c0aa68;
  font-size: 95px;
  font-weight: 3;
}
button {
  font-family: "Emilys Candy", cursive;
  color: white;
  background-color: #2b4c55;
  border-radius: 15px;
  width: 340px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  font-family: "Emilys Candy", cursive;
}
